<%= turbo_frame_tag "tier_images_upload" do %>
  <div id="default-area" 
    class="d-flex flex-wrap justify-content-center align-items-stretch gap-2 p-3 mb-5 border border-dark rounded" 
    data-default-category-id="<%= uncategorized_tier_category_id %>" 
    data-default-rank-id="<%= unranked_tier_rank_id %>" 
    data-controller="item-drag" 
    data-item-drag-target="tier" 
    data-action="dragover->item-drag#dragOver drop->item-drag#saveTierDataToLocalStorage">
    <% (tier_images["unranked_uncategorized"] || []).each do |tier_image| %>
      <%= image_tag tier_image[:url], 
        data: { 
          image_id: tier_image[:id], 
          action: "dragstart->delete-tier-image#dragStart",
          controller: "delete-tier-image"
        }, 
        crossorigin: "anonymous", 
        draggable: "true", 
        class: "default-area-img"
      %>
    <% end %>
  </div>
<% end %>
