<div class="modal fade" id="save-image-modal" tabindex="-1" aria-labelledby="saveImageModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="saveImageModalLabel">モーダルのタイトル</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>これはモーダルのコンテンツです。</p>
      </div>
      <div class="modal-footer">
        <%= button_tag 'ダウンロード', 
          type: 'button', 
          class: 'btn btn-primary', 
          data: { controller: "download-tier", action: "click->download-tier#downloadImage" } 
        %>
        <%= link_to 'テンプレートを作成', new_template_path, class: 'btn btn-secondary' %>
      </div>
    </div>
  </div>
</div>
