<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-5 d-flex flex-column align-items-center">
      <h1 class="text-center">
        <span class="border-bottom border-3 border-dark pb-1"><%= t '.title' %></span>
      </h1>
    </div>
  </div>
</div>
