<% content_for :title, t('.title') %>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-lg-6 my-5 align-items-center d-flex flex-column">
      <%= render 'form', tier: @tier, categories: @categories %>
    </div>
  </div>
</div>