<% content_for :title, t('.title') %>

<div class="container">
  <div class="my-5 align-items-center d-flex flex-column">
    <h3><%= t 'tiers.search.create_from_template' %></h3>
    <div class="mt-3 col-md-8"> 
      <input type="text" class="form-control" id="templateName" placeholder="<%= t 'tiers.search.enter_template_name' %>">
    </div>
    <div class="mt-3">
      <%= button_to t('tiers.search.create_new'), new_tier_path, method: :get, class: "btn btn-primary" %>
    </div>
  </div>
</div>
