<footer class="fixed-bottom bg-dark py-4">
  <div class="container d-flex justify-content-center gap-5">
    <%= link_to t('footer.terms_of_use'), '#', class: 'text-decoration-none text-light' %>
    <%= link_to t('footer.privacy_policy'), '#', class: 'text-decoration-none text-light' %>
    <%= link_to t('footer.contact'), '#', class: 'text-decoration-none text-light' %>
  </div>
</footer>
