<footer class="fixed-bottom bg-dark py-4">
  <div class="container d-flex justify-content-center gap-5">
    <%= link_to '利用規約', '#', class: 'text-decoration-none text-light' %>
    <%= link_to 'プライバシーポリシー', '#', class: 'text-decoration-none text-light' %>
    <%= link_to 'お問い合わせ', '#', class: 'text-decoration-none text-light' %>
  </div>
</footer>
