<footer class="fixed-bottom bg-dark py-4">
  <div class="footer-container d-flex justify-content-center gap-5">
    <%= link_to t('defaults.terms_of_use'), terms_of_use_path, class: 'text-decoration-none text-light' %>
    <%= link_to t('defaults.privacy_policy'), privacy_policy_path, class: 'text-decoration-none text-light' %>
    <%= link_to t('defaults.contact'), 'https://forms.gle/FqWqtodT8itsdEBQ8', class: 'text-decoration-none text-light' %>
  </div>
</footer>