<% content_for :title, t('.title') %>

<%= render layout: "layouts/custom_layout" do %>
  <%= render 'form' %>
  <div class='text-center my-3'>
    <div>
      <%= link_to t('user_sessions.new.to_register_page'), new_user_path %>
    </div>
    <div>
      <%= link_to t('user_sessions.new.password_forget'), '#' %>
    </div>
  </div>
<% end %>